@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'old';
@import '../../shared/scss/base';
@import 'report';
@import 'kmom';


.footer {
    background-image: url('/../dbwebb/design/me/portfolio/assets/img/sky7.jpg');
    background-color: #7889b7;
    background-size: cover;
    margin-top: 1.67em;
}

.landingpage-home {
    display: grid;
    gap: 0.5em;
    padding: 0 4em;
}

.landingpage-home h1 {
    grid-column: 2;
}

.landingpage-home p {
    grid-column: span 1;
}

.me {
    grid-column: 1;
}

.landingpage-index {
    display: grid;
    gap: 0.5em;
    padding: 0 4em;
}

.landingpage-index h1 {
    grid-column: 1;
}

.landingpage-index p {
    grid-column: span 1;
}

@media (max-width: 767px) {
    .landingpage-home,
    .landingpage-index {
        padding: 0 1.4em;
    }
}
