@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'old';
@import '../../shared/scss/base';
@import 'report';
@import 'kmom';


.footer {
    background-image: url('/../dbwebb/design/me/portfolio/assets/img/sky7.jpg');
    background-color: #7889b7;
    background-size: cover;
}
