
/* Small devices */

@media (max-width: 767px) {
    .logo-img {
        width: 100px;
        padding: 0 1em;
    }

    .title h1 {
        font-size: 1.6em;
        margin-top: 0;
    }

    .main {
        padding: 0;
    }

    .main-home {
        width: 90%;
        margin-top: 0;
    }
    
    .me {
        width: 120px;
        padding-right: 1em;
        padding-bottom: 0.5em;
    }

    p {
        font-size: 0.9em;
    }
}
