h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
    font-weight: 100;
}

.homepage {
    width: 600px;
    padding-top: 1em;
}

.davines {
    display: block;
    border-spacing: 4px;
    border-collapse: separate;
    width: 60%;

    .element1 {
        height: 50px;
        width: 50px;
        background-color: rgb(51, 51, 51);
    }
    
    .element2 {
        height: 50px;
        width: 50px;
        background-color: #4e4b4a;
    }
    
    .element3 {
        height: 50px;
        width: 50px;
        background-color: #827d7c;
    }
    
    .element4 {
        height: 50px;
        width: 50px;
        background-color: #dfddde;
    }
    
    .element5 {
        height: 50px;
        width: 50px;
        background-color: #f4f4f6;
    }
}

.lernberg {
    display: block;
    border-spacing: 4px;
    border-collapse: separate;
    width: 60%;

    .element1 {
        height: 50px;
        width: 50px;
        background-color: #000;
    }
    
    .element2 {
        height: 50px;
        width: 50px;
        background-color: #4e4b4a;
    }
    
    .element3 {
        height: 50px;
        width: 50px;
        background-color: #cfcfcf;
    }
    
    .element4 {
        height: 50px;
        width: 50px;
        background-color: #f4f4f4;
    }
    
    .element5 {
        height: 50px;
        width: 50px;
        background-color: #ffff;
    }
}

.leestaff {
    display: block;
    border-spacing: 4px;
    border-collapse: separate;
    width: 60%;

    .element1 {
        height: 50px;
        width: 50px;
        background-color: #e19;
    }
    
    .element2 {
        height: 50px;
        width: 50px;
        background-color: #f625c6;
    }
    
    .element3 {
        height: 50px;
        width: 50px;
        background-color: #fc9cd6;
        background-color: #e19;
    }
    
    .element4 {
        height: 50px;
        width: 50px;
        background-color: #fab7e0;
    }
    
    .element5 {
        height: 50px;
        width: 50px;
        background-color: #f7ceea;
    }
}

