
.landingpage-home {
    display: grid;
    gap: 0.5em;
}

.landingpage-home h1 {
    grid-column: 2;
}

.landingpage-home p {
    grid-column: span 1;
}

.me {
    grid-column: 1;
}

.landingpage-index {
    display: grid;
    gap: 0.5em;
}

.landingpage-index h1 {
    grid-column: 1;
}

.landingpage-index p {
    grid-column: span 1;
}

