
/* Small devices */

@media (max-width: 767px) {
    .logo-img {
        width: 100px;
        padding: 0 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    .main {
        width: 85%;
    }

    .me {
        width: 100px;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 0.9em;
    }
}
