@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'old';
@import 'nav-dark';
@import '../../shared/scss/base';
@import 'typography';
@import 'variables-dark';
@import 'media';
@import 'report';
@import 'kmom';
@import 'homeindex';
@import 'analysis';
@import 'gallery';

html,
body {
    background-color: $background-color;
    color: $font-color;
}

.site-header {
    position: relative;
    color: $font-color;

    h1,
    p {
        color: $font-color;
    }
}

.logo-img {
    filter: invert(85%);
}

.site-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../image/bulb2.jpg?width=40%');
    filter: hue-rotate(200deg) invert(100%) opacity(80%);
    background-size: cover;
}

.site-header-inside {
    /* This will make it stack on top of the ::before */
    position: relative;

    a {
        color: $font-color;
    }
}

.me {
    filter: opacity(90%);
}

.gallery-img {
    filter: hue-rotate(10deg) grayscale(0.1);
}

.landingpage {
    a {
        color: $font-color;
    }

    a:hover {
        color: $hover-color;
    }
}

.landingpage-kmom {
    a {
        color: $font-color;
    }

    a:hover {
        color: $hover-color;
        text-decoration: dashed;
    }
}

img,
embed,
object,
video {
    max-width: 100%;
}

.footer {
    background: $footer-color;
    margin-top: 1.67em;

    a {
        color: $background-color;
    }

    a:hover {
        color: $footer-hover-color;
    }
}
