// Dark Theme

$background-color: rgb(22, 25, 30);
$font-color: #d1d0d1;
$border-color: #065489;
$hover-color: #35749d;
$footer-color: linear-gradient(to right, #065489, #083252);
$footer-hover-color: #0a0a0a;
