// Light Theme

$background-color: #fafafa;
$title-color: rgb(0, 0, 0);
$font-color: #01333b;
$accent-color: #ffe66d;
$border-color: #46c7db;
$line: #038ca1;
$hover-color: #024954;
$footer-color: linear-gradient(to right, #98dfef, #04b6d3);
$footer-link-color: #f0f0f0;
